body{
  background-color: #566573;
}
.App {
  text-align: center;

  width: 550px;
  margin: 1em auto 0;
  padding: 1em;
  box-shadow: 2px 2px 10px black;
  border-radius: 4px;
  background-color: #F2F4F4;
  color: #566573;
}

.title{
  margin: 0;
  text-decoration: underline;
  color: #566573;
}

.description{
  margin: 0.5em 0 1em;
}

.type-selector-button{
  border: none;
  margin: 0 0.5em;
  padding: 3px 1em 0;
  font-size: 1.5em;
  
  background-color: #F8F9F9;
  box-shadow: 2px 0px 4px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  cursor: pointer;
}

.button-selected-true{
  background-color: #b8babd;
  color: #ee3c2c;
}

.interface{
  width: calc(500px + 2em);
  margin: 0 auto;
  background-color: #F8F9F9;
  padding: 1em 0;
  border-radius: 4px;
  box-shadow: 2px 2px 8px black inset;
}

form input{
  margin: 0.25em 5px;
  border: none;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px black;

  width: 3em;
}

.code-display{
  width:500px;
  margin: 1em auto;
  padding: 5px 0;
  font-size: 1.2em;
  color: #E74C3C;
  box-shadow: 2px 2px 5px black;
}

.grid-display{
  height: 500px;
  width: 500px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 2px 2px 10px black;  

  display: grid;
  grid-gap: 0.5em;

  background-color: #5DADE2;
  border-radius: 4px;
}

.grid-item{
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 7px black;
  border-radius: 2px;
}

.selected-false{
  background-color: #EBF5FB;
}

.selected-true{
  background-color: #58D68D;
}

.grid-item-index{
  margin: 0.5em 0;
}

