.App {
  text-align: center;
  margin: 1em;
}

.Interface{
  width: calc(500px + 2em);
  margin: 0 auto;
  padding: 1em 0;
  background-color: #F8F9F9;
  border-radius: 4px;
  box-shadow: 2px 2px 8px black inset;
}

#interface-form input{
  margin: 0 5px;
  border: none;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px black;
}

#grid-display{
  height: 500px;
  width: 500px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 2px 2px 10px black;  

  display: grid;
  grid-gap: 0.5em;

  background-color: #5DADE2;
  border-radius: 4px;
}

.grid-item{
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 7px black;
  border-radius: 2px;
}

.selected-false{
  background-color: #EBF5FB;
}

.selected-true{
  background-color: #58D68D;
}

.grid-item-index{
  margin: 0.5em 0;
}

